<form id="course-form">
  <label for="course-name-input" class="form-label">Course Name</label>
  <input
    value="{{ course.courseName }}"
    type="text"
    name="name"
    id="course-name-input"
    class="form-control"
  />
  <label for="course-code-input" class="form-label">Course Code</label>
  <input
    value="{{ course.courseCode }}"
    type="text"
    name="location"
    id="course-code-input"
    class="form-control"
  />
  {{> edit-list listId="professors" items=course.professors label="Professors" buttonText="Add Professor"}}
  <button id="course-form-submit" type="submit" class="btn btn-primary mt-3">
    {{ buttonText }}
  </button>
  <p id="course-form-error"></p>
</form>
