<form id="university-form">
  <link rel="stylesheet" href="/public/css/site.css" />
  <label for="name-input" class="form-label">Name</label>
  <input
    value="{{ university.name }}"
    type="text"
    name="name"
    id="name-input"
    class="form-control"
  />
  <label for="location-input" class="form-label">Location</label>
  <input
    value="{{ university.location }}"
    type="text"
    name="location"
    id="location-input"
    class="form-control"
  />
  <button
    id="university-form-submit"
    type="submit"
    class="btn btn-primary mt-3"
  >
    {{ buttonText }}
  </button>
  <p id="university-form-error"></p>
</form>
