<script defer src="/public/js/adminUniversity.js"></script>

<h1 class="text-center">Edit {{ university.name }}</h1>
<main class="container">
  {{> university-form formId=create buttonText="Edit University" }}
  <hr />
  TODO: put courses table here
</main>
