<script defer src="/public/js/adminCourse.js"></script>

<h1 class="text-center">Edit {{ course.courseName }}</h1>
<main class="container">
  <a onclick="history.back()" class="btn btn-primary">Back</a>
  {{> course-form buttonText="Edit Course" }}
</main>
