<main class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="">Search all universities and courses</h2>
      <p>
        Use the search bars below to search for a university or course. You can
        search universities by their name or location. You can search courses by
        their name, course code, or professor names.
      </p>
      <form method="GET" action="/universities">
        <label for="universities-search-input">Search for a university:</label>
        <input type="text" id="universities-search-input" name="search" />
        <input type="submit" value="Search" />
      </form>
      <form method="GET" action="/courses">
        <label for="courses-search-input">Search for a course:</label>
        <input type="text" id="courses-search-input" name="search" />
        <input type="submit" value="Search" />
      </form>
    </div>
    {{#if user.universityName}}
    <div class="col">
      <h2>Search courses at {{ user.universityName }}</h2>
      <p>
        Use the search bar below to search for a course at
        {{ user.universityName }}. You can search by course code, name, or
        professor name.
      </p>
      <form method="GET" action="/universities/{{ user.universityId }}">
        <label for="university-search-input">Search</label>
        <input type="text" id="universities-search-input" name="search" />
        <input type="submit" value="Search" />
      </form>
    </div>
    {{/if}}
  </div>
</main>
