<script defer type="text/javascript" src="/public/js/login.js"></script>

<div class="container">
  <form id="login-form" class="border rounded-2 p-2 m-2" method="POST">
    <div class="mb-3">
      <label class="form-label" for="email-input">Email address</label>
      <input class="form-control" type="email" name="email" id="email-input" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="password-input">Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password-input"
      />
    </div>
    <input class="btn btn-primary" type="submit" value="Log In" />
    <a class="btn btn-secondary" role="button" href="/auth/register"
      >Register</a
    >
    <p id="login-form-error"></p>
  </form>
</div>
