<script defer type="text/javascript" src="/public/js/register.js"></script>

<div>
  <form id="register-form" method="POST" action="/auth/register">
    <label for="username-input">Username</label>
    <input type="text" name="username" id="username-input" />
    <label for="email-input">Email</label>
    <input type="email" name="email" id="email-input" />
    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input" />
    <label for="confirm-password-input">Confirm Password</label>
    <input
      type="password"
      name="confirm-password-input"
      id="confirm-password-input"
    />
    <label for="univesity-input">University</label>
    <select name="universityId" id="university-input">
      {{#each universities as |university|}}
      <option value="{{ university._id }}">{{ university.name }}</option>
      {{/each}}
      <option>Other</option>
    </select>
    <button>Log In</button>
    <p id="register-form-error"></p>
  </form>
</div>
