<title>Student Course Review</title>
<main>
  <h1>Find Your University</h1>
  <link rel="stylesheet" href="/public/site.css" />
  <p>Use the search bar below to search for your university.</p>
  <form method="GET" action="/search-universities">
    <label for="search-input">Search for a university:</label>
    <input type="text" id="search-input" name="search" />
    <input type="submit" value="Search" />
  </form>
</main>
