<title>Student Course Review</title>
 <main>
		<h1>Find Your University</h1>
    <link rel="stylesheet" href="/public/site.css">
		<p>Use the search bar below to search for your university.</p>
		<form method="POST" action="/searchresults">
			<label for="searchTerm">Search for a university:</label>
			<input type="text" id="searchTerm" name="searchTerm">
			<input type="submit" value="Search">
		</form>
	
    </main>