<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>University Details</title>
  </head>
  <body>
    <h1>{{ university.name }}</h1>
    <h2>{{ university.location }}</h2>
    <h2>Courses:</h2>
    <ul>
      {{#each courses }}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
  </body>
  <a href="/">Search for Another University</a>
</html>
